html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
}


a {
    margin: 5px;
}

h3 {
    margin-left: 5px;
    margin-right: 10px;
}

.navbar {
    position: absolute;
    top: 0px;
}

.carousel {
  height: 700px;
}
.carousel-inner img {
  height: 700px;
  margin: 0 auto;
}

h1 {
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: space-around;
}
.card {
    min-height: 750px;
    max-height: 750px;
}
.card-img-top {
    min-height: 450px;
    padding: 1%;
}
#Films {
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}
.row {
    --bs-gutter-x: 0rem !important;
}

.list-group {
    position: fixed;
    z-index: 9999;
	top: 10px;
    left: 93%;
}
.list-group-item{
    margin: 0%;
}
.GoslingPhoto {
    max-height: 500px;
    padding-top: 5%;
}

#InfoP {
    padding: 10%;
}
@media(max-width: 1500px){
    .col-3 {
        width: 33% !important;
    }
    #FavFood {
        visibility: hidden;
    }
}

@media(max-width: 1080px){
    .col-3 {
        width: 50% !important;
    }
    #FavFood {
        visibility: hidden;
    }
}